In [3]:
import pandas as pd
df = pd.read_csv("/Users/ashton/Desktop/Degree/LAB/walmart.csv")

In [5]:
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969
...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,1,1,20,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,490

In [7]:
import numpy as np

In [9]:
np

In [11]:
# Display first few rows
display(df.head())

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969

In [13]:
# Print data types of each column
print("\nData Types:")
print(df.dtypes)

Data Types:
User_ID                        int64
Product_ID                    object
Gender                        object
Age                           object
Occupation                     int64
City_Category                 object
Stay_In_Current_City_Years    object
Marital_Status                 int64
Product_Category               int64
Purchase                       int64
dtype: object

In [15]:
# Determine number of rows and columns
num_rows, num_cols = df.shape
print(f"\nNumber of Rows: {num_rows}, Number of Columns: {num_cols}")

Number of Rows: 550068, Number of Columns: 10

In [17]:
# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category              0
Purchase                      0
dtype: int64

In [19]:
# Basic descriptive statistics for numerical columns
print("\nDescriptive Statistics:")
print(df.describe())

Descriptive Statistics:
            User_ID     Occupation  Marital_Status  Product_Category  \
count  5.500680e+05  550068.000000   550068.000000     550068.000000
mean   1.003029e+06       8.076707        0.409653          5.404270
std    1.727592e+03       6.522660        0.491770          3.936211
min    1.000001e+06       0.000000        0.000000          1.000000
25%    1.001516e+06       2.000000        0.000000          1.000000
50%    1.003077e+06       7.000000        0.000000          5.000000
75%    1.004478e+06      14.000000        1.000000          8.000000
max    1.006040e+06      20.000000        1.000000         20.000000

            Purchase
count  550068.000000
mean     9263.968713
std      5023.065394
min        12.000000
25%      5823.000000
50%      8047.000000
75%     12054.000000
max     23961.000000

In [27]:
# Identify potential outliers using the IQR method (only for numeric columns)
numeric_cols = df.select_dtypes(include=['number']).columns  # Select only numeric columns

Q1 = df[numeric_cols].quantile(0.25)
Q3 = df[numeric_cols].quantile(0.75)
IQR = Q3 - Q1

outliers = ((df[numeric_cols] < (Q1 - 1.5 * IQR)) | (df[numeric_cols] > (Q3 + 1.5 * IQR))).sum()
print("\nPotential Outliers:")
print(outliers)

Potential Outliers:
User_ID                0
Occupation             0
Marital_Status         0
Product_Category    4153
Purchase            2677
dtype: int64

In [29]:
# Handling Missing Values (if any)
# Since there are no missing values, we skip imputation/deletion

In [31]:
# Data Type Conversion
# Converting 'Stay_In_Current_City_Years' to numeric
df['Stay_In_Current_City_Years'] = df['Stay_In_Current_City_Years'].replace({'4+': '4'}).astype(int)

In [33]:
# Handling Duplicates
num_duplicates = df.duplicated().sum()
df = df.drop_duplicates()
print(f"\nNumber of duplicate rows removed: {num_duplicates}")

Number of duplicate rows removed: 0

In [35]:
# Addressing Inconsistencies
# Standardizing text case for categorical columns
categorical_cols = ['Gender', 'Age', 'City_Category']
df[categorical_cols] = df[categorical_cols].apply(lambda x: x.str.lower())

In [45]:
# Outlier Handling (Capping extreme values in 'Purchase')
purchase_Q1 = df['Purchase'].quantile(0.05)
purchase_Q3 = df['Purchase'].quantile(0.95)
df['Purchase'] = np.clip(df['Purchase'], purchase_Q1, purchase_Q3)

print("\nCapped extreme values in 'Purchase':")
print(df['Purchase'].describe())

Capped extreme values in 'Purchase':
count    550068.000000
mean       9256.710489
std        4855.947166
min        1984.000000
25%        5823.000000
50%        8047.000000
75%       12054.000000
max       19336.000000
Name: Purchase, dtype: float64

In [47]:
def categorize_age(age):
    if age in ['0-17']: return 'Teen'
    elif age in ['18-25']: return 'Young Adult'
    elif age in ['26-35']: return 'Adult'
    elif age in ['36-45']: return 'Middle Aged'
    elif age in ['46-50', '51-55']: return 'Senior'
    else: return 'Elderly'

df['Age_Group'] = df['Age'].apply(categorize_age)
print("\nCreated 'Age_Group' column:")
print(df[['Age', 'Age_Group']].head())

Created 'Age_Group' column:
    Age Age_Group
0  0-17      Teen
1  0-17      Teen
2  0-17      Teen
3  0-17      Teen
4   55+   Elderly

In [49]:
# Data Aggregation: Average Purchase by Age Group
age_group_summary = df.groupby('Age_Group')['Purchase'].mean().reset_index()
print("\nAverage Purchase Amount per Age Group:")
print(age_group_summary)

Average Purchase Amount per Age Group:
     Age_Group     Purchase
0        Adult  9243.780119
1      Elderly  9327.796549
2  Middle Aged  9322.921909
3       Senior  9346.255659
4         Teen  8940.649053
5  Young Adult  9169.010977

In [51]:
# Data Normalization (Min-Max Scaling for Purchase column)
df['Purchase_Normalized'] = (df['Purchase'] - df['Purchase'].min()) / (df['Purchase'].max() - df['Purchase'].min())
print("\nNormalized 'Purchase' column:")
print(df[['Purchase', 'Purchase_Normalized']].head())

Normalized 'Purchase' column:
   Purchase  Purchase_Normalized
0      8370             0.368027
1     15200             0.761641
2      1984             0.000000
3      1984             0.000000
4      7969             0.344917

In [53]:
# Data Binning: Categorizing Purchase Amounts
df['Purchase_Category'] = pd.qcut(df['Purchase'], q=4, labels=['Low', 'Medium', 'High', 'Very High'])
print("\nCreated 'Purchase_Category' column:")
print(df[['Purchase', 'Purchase_Category']].head())

Created 'Purchase_Category' column:
   Purchase Purchase_Category
0      8370              High
1     15200         Very High
2      1984               Low
3      1984               Low
4      7969            Medium

In [55]:
# Save the cleaned and transformed dataset
df.to_csv("cleaned_walmart_data.csv", index=False)
print("\nCleaned dataset saved as 'cleaned_walmart_data.csv'.")

# Summary of Data Wrangling Process
print("\nData Wrangling Summary:")

print("\n1. Data Cleaning:")
print(f"- Removed {num_duplicates} duplicate rows.")
print("- Standardized categorical text data.")
print("- Handled outliers by capping extreme purchase values.")
print("- Converted 'Stay_In_Current_City_Years' to numeric.")

print("\n2. Data Transformation:")
print("- Created 'Age_Group' column.")
print("- Computed average purchase amount per age group:")
print(age_group_summary)
print("- Normalized 'Purchase' column using Min-Max Scaling.")
print("- Categorized 'Purchase' into 'Low', 'Medium', 'High', and 'Very High'.")

# Display final dataset overview
print("\nFinal Dataset Preview:")
display(df.head())

print("\n Data is cleaned, transformed, and saved successfully.")

Cleaned dataset saved as 'cleaned_walmart_data.csv'.

Data Wrangling Summary:

1. Data Cleaning:
- Removed 0 duplicate rows.
- Standardized categorical text data.
- Handled outliers by capping extreme purchase values.
- Converted 'Stay_In_Current_City_Years' to numeric.

2. Data Transformation:
- Created 'Age_Group' column.
- Computed average purchase amount per age group:
     Age_Group     Purchase
0        Adult  9243.780119
1      Elderly  9327.796549
2  Middle Aged  9322.921909
3       Senior  9346.255659
4         Teen  8940.649053
5  Young Adult  9169.010977
- Normalized 'Purchase' column using Min-Max Scaling.
- Categorized 'Purchase' into 'Low', 'Medium', 'High', and 'Very High'.

Final Dataset Preview:

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category,Purchase,Age_Group,Purchase_Normalized,Purchase_Category
0,1000001,P00069042,f,0-17,10,a,2,0,3,8370,Teen,0.368027,High
1,1000001,P00248942,f,0-17,10,a,2,0,1,15200,Teen,0.761641,Very High
2,1000001,P00087842,f,0-17,10,a,2,0,12,1984,Teen,0.000000,Low
3,1000001,P00085442,f,0-17,10,a,2,0,12,1984,Teen,0.000000,Low
4,1000002,P00285442,m,55+,16,c,4,0,8,7969,Elderly,0.344917,Medium

 Data is cleaned, transformed, and saved successfully.